body {
  color: rgb(13, 13, 13);
  background: #fafafa;
  line-height: 1.5em;
  scroll-behavior: smooth;
}

a {
  color: rgb(6, 95, 212);
  text-decoration: none;
}

td, th {
  padding: .5em;
  text-align: start;
}

code {
  background-color: rgba(27,31,35,.05);
  border-radius: 3px;
  font-size: 85%;
  margin: 0;
  padding: .2em .4em;
  display: inline-block;
  vertical-align: middle;
  line-height: 1em;
}